apiKey=SECRET
authDomain=SECRET.firebaseapp.com
projectId=SECRET_PROJECT_NAME
storageBucket=SECRET.firebasestorage.app
messagingSenderId=SENDER_ID
appId=SECRET_ID
measurementId=MEASUREMENT_ID

DATABASE_URL=DATABASE_CONNECTION STRING
PORT = 8000

FRONTEND_URL=localhost
FRONTEND_PORT=3000